{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Jihad Rinaldi</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/default.css'%}">
    <link rel="stylesheet" href="{% static 'css/layout.css'%}">
    <link rel="stylesheet" href="{% static 'css/media-queries.css'%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">


</head>

<body>

<!-- Header
================================================== -->
<header id="home">

    <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

        <ul id="nav" class="nav" style="color: #2D2E34">
            <li class="current"><a href="#home">Home</a></li>
            <li class="current"><a href="#about">About</a></li>
            <li class="current"><a href="#resume">Resume</a></li>
            <li class="current"><a href="/message/">DNU</a></li>
        </ul> <!-- end #nav -->

    </nav> <!-- end #nav-wrap -->

    <div class="row banner">
        <div class="banner-text">
            <h1 class="responsive-headline">I'm {{Name}}</h1>
            <h3>Ordinary programmer who like trying something new and explore new language or knowledge.</h3>
            <hr/>
            <ul class="social">
                <li><a target="_blank" href="//facebook.com/jihadrinaldimjr"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="//twitter.com/rinaldi_jihad"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="//gitlab.com/jihadmjr"><i class="fa fa-gitlab"></i></a></li>
                <li><a target="_blank" href="//github.com/JihadRinaldi"><i class="fa fa-github"></i></a></li>
                <li><a target="_blank" href="//linkedin.com/in/JihadRinaldi/"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" href="//instagram.com/jihadmjr/"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>

    <p class="scrolldown">
        <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
    </p>

</header> <!-- Header End -->


<!-- About Section
================================================== -->
<section id="about">

    <div class="row">

        <div class="three columns">

            <img class="profile-pic"
                 src="https://instagram.fcgk10-1.fna.fbcdn.net/vp/75154508b7462402e90ccad4e4e8be3b/5B0A18C5/t51.2885-19/s150x150/27893290_429022017538779_4266056552575664128_n.jpg">


        </div>

        <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>
                A computer science student who develops a great interest in software engineering field, with knowledge
                in programming and web development.
            </p>

            <div class="row">
                <div class="columns contact-details">

                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>Jihad Rinaldi</span><br>
                        <span>KotaWisata, Montreal. Cibubur</span>
                        <br>
                        <span>0812-8098-2495</span><br>
                        <span>jihadmjr@gmail.com</span>
                    </p>

                </div>

            </div> <!-- end row -->

        </div> <!-- end .main-col -->

    </div>

</section> <!-- About Section End-->


<!-- Resume Section
================================================== -->
<section id="resume">

    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">

        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>University of Indonesia</h3>
                    <p class="info">Computer Science <span>&bull;</span> <em class="date">July 2016 - August 2020</em>
                    </p>

                    <p>
                        <li style="margin-top: -20px">Course Taken : Web Programming and Design, Data Structure and
                            Algorithm, Software
                            Engineering,
                            Introduction to Digital System, Computer Organization and Design, Database, Advanced
                            Programming, Operating Systems.
                            <br>

                        <li>Tools : Git & Heroku

                    <li>Achievement : Django Full Stack Web Developer Bootcamp Completion Udemy - Feb 2018
                    </p>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Education -->

    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">

        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>Web Engineer</h3>
                    <p class="info"><span>IT Fasilkom UI&bull;</span> <em class="date">December 2017 - Present</em>
                    </p>

                    <p>
                        Responsible for making a good and satisfiable website, using python and Django as a Framework.

                        Responsible for testing the website also turning the requirement into a fix model and program
                        that can be use by a client.
                    </p>

                </div>

            </div> <!-- item end -->


        </div> <!-- main-col end -->

    </div> <!-- End Work -->


    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">

        <div class="three columns header-col">
            <h1><span>Skills</span></h1>
        </div>

        <div class="nine columns main-col">


            <div class="bars">

                <ul class="skills">
                    <div class="bs-component">
                        <span style="color: #333333; font-size: 20px">PYTHON</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 80%; color: #333333"></div>
                        </div>
                    </div>

                    <div class="bs-component">
                        <span style="color: #333333; font-size: 20px">JAVA</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 75%; color: #333333"></div>
                        </div>
                    </div>

                    <div class="bs-component">
                        <span style="color: #333333; font-size: 20px">RUBY</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 20%; color: #333333"></div>
                        </div>
                    </div>

                    <div class="bs-component">
                        <span style="color: #333333; font-size: 20px">GO</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 25%; color: #333333"></div>
                        </div>
                    </div>

                    <div class="bs-component">
                        <span style="color: #333333; font-size: 20px">HTML CSS</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%; color: #333333"></div>
                        </div>
                    </div>

                    <div class="bs-component">
                        <span style="color: #333333; font-size: 20px">JAVASCRIPT</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 60%; color: #333333"></div>
                        </div>
                    </div>

                    <div class="bs-component">
                        <span style="color: #333333; font-size: 20px">DJANGO</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 87%; color: #333333"></div>
                        </div>
                    </div>


                </ul>

            </div><!-- end skill-bars -->

        </div> <!-- main-col end -->

    </div> <!-- End skills -->

</section> <!-- Resume Section End-->


<!-- footer
================================================== -->
<footer>

    <div class="row">

        <div class="twelve columns">

            <ul class="social-links">
                <li><a target="_blank" href="//facebook.com/jihadrinaldimjr"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="//twitter.com/rinaldi_jihad"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="//gitlab.com/jihadmjr"><i class="fa fa-gitlab"></i></a></li>
                <li><a target="_blank" href="//github.com/JihadRinaldi"><i class="fa fa-github"></i></a></li>
                <li><a target="_blank" href="//linkedin.com/in/JihadRinaldi/"><i class="fa fa-linkedin"></i></a></li>
                <li><a target="_blank" href="//instagram.com/jihadmjr/"><i class="fa fa-instagram"></i></a></li>
            </ul>

        </div>

        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

        <ul class="copyright">
            <li>© Copyright 2018 MJR</li>
        </ul>

    </div>

</footer> <!-- Footer End-->


</body>

</html>