{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/default.css'%}">
    <link rel="stylesheet" href="{% static 'css/layout.css'%}">
    <link rel="stylesheet" href="{% static 'css/media-queries.css'%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">

</head>
<body>
<header id="home">

    <nav id="nav-wrap">

        <ul id="nav" class="nav" style="color: #2D2E34">
            <li class="current"><a href="#home">Home</a></li>
            <li class="current"><a href="/dashboard/">Dashboard</a></li>
            <li class="current"><a href="#about">Message</a></li>
        </ul> <!-- end #nav -->

    </nav> <!-- end #nav-wrap -->
    <div class="row banner">
        <div class="banner-text">
            <br>
            <h1 class="responsive-headline" style="margin-top: 20px">Dari & Untuk</h1>
            <form method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-info" type="submit" value="Post">
            </form>
        </div>
    </div>


</header> <!-- Header End -->

<section id="about">
    <div class="row">
        <h1 class="text-center" , style="color: white;">DNU</h1>
        <hr>
        <div class="three columns">
            {% if list %}
            {% for i in list %}
            <div>
                <blockquote>
                    <h4 style="color: white">Dari: {{i.dari}}</h4>
                    <h4 style="color: white">Untuk: {{i.untuk}}</h4>
                    <h4 style="color: white">Pesan: {{i.message}}</h4>
                </blockquote>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada pesan
            </div>
            {% endif %}
        </div>
    </div>


</section>

</body>
</html>